table {
 width: 100%;
 border: 0;
 table-layout: auto;
}
th.indexcolname, th.indexcollastmod, th.indexcolsize, th.indexcoldesc {
 font-weight: normal;
 text-align: left;
}
table tr.indexbreakrow:last-child{
 display: none;
}
@media (max-width: 700px) {
.indexcollastmod {
 display: none;
}
}
@media (max-width: 550px) {
.indexcoldesc {
 display: none;
}
}
@media (max-width: 300px) {
.indexcolsize {
 display: none;
}
}
