<footer>
<hr />
Site généré à l'aide de <a href="https://www.romanzolotarev.com/ssg.html">ssg</a>, <a href="/blog/2020-4-generer-un-index-de-blog-et-un-fil-rss-avec-brg.html">brg</a> et <a href="https://www.vim.org/">vim</a>.
</footer>
</body>
</html>
