body {
 background-color: #f9f9f9;
 font-family: sans-serif;
 font-size: 18px;
 font-size-adjust: 0.5;
 color: #454545;
 line-height: 1.4;
 max-width: 750px;
 margin: 1em auto;
 padding: 0 10px 0;
}
hr {
 border-color: #808080;
}
header, footer{
 font-size: 16px;
}
a {
 color: #0051c9;
}
a:visited {
 color: #7d013e;
}
pre {
 background-color: #e9e9e9;
 padding: 10px 15px;
 white-space: pre-wrap;
}
code {
 font-family: monospace;
}
h2:after {
 content: ' ';
 display: block;
 border: 1px solid #d5d5d5;
}
@media (prefers-color-scheme: dark) {
body {
 background-color: #222222;
 color: #eeeeee;
}
hr {
 border-color: #555555;
}
a {
 color: #8db2e5;
}
a:visited {
 color: #d38a8a;
}
pre {
 background-color: #333333;
}
}
.img-responsive {
 display: block;
 margin-left: auto;
 margin-right: auto;
 max-width: 100%;
 height: auto;
}
